
body{
  background-color: var(--background-color);
  color: var(--text-color-snow);
  text-emphasis-color: var(--text-color-green);
  accent-color: var(--accent-color);
  font-family: var(--font-body);
  margin: var(--spacing-sm);
  font-weight: 400;
  font-size: 16px;
  padding: var(--spacing-sm);
}
h1, h2, h3, h4, h5, h6{
  padding: var(--spacing-sm);
  font-family: var(--font-heading);
  font-weight: 700;
}

.gallery{
  display: flex;
  gap: 30px;
}

.book:hover{
  transform: scale(1.05);
}

.book{
  display: flex;
  flex-direction: column;
  gap: 30px;
  transition: transform 200ms ease-in-out;
}

.book-dialog{
  background-color: var(--surface-color);
  color: var(--text-color-snow);
  border: none;
  border-radius: 24px;
  padding: var(--spacing-lg);
  width: 90%;
  max-width: 640px;

}