
body{
  background-color: var(--background-color);
  color: var(--text-color-snow);
  text-emphasis-color: var(--text-color-green);
  accent-color: var(--accent-color);
  font-family: var(--font-body);
  margin: var(--spacing-sm);
  font-weight: 400;
  font-size: 16px;
  padding: var(--spacing-sm);
}

.gallery{
  margin-top: 48px;
  display: flex;
  gap: 30px;
}

.book:hover{
  transform: scale(1.05);
}

.book{
  display: flex;
  flex-direction: column;
  gap: 30px;
  transition: transform 200ms ease-in-out;
}

.book-dialog-content{
  display: grid;
  grid-template-columns: minmax(0, 1fr) 180px;
  column-gap: 30px;
}

.book-dialog-title{
  font-size: 28px;
  margin: 0;
  padding: 0;
}

.book-dialog-meta{
  font-size: 16px;
  color: var(--text-color-green);
  margin: 0;
  padding: 0;
}

.book-dialog-desc{
  font-size: 18px;
  line-height: 1.5;
  margin-top: 18px;
}

.illustration-img{
  width: 180px;
}

dialog::backdrop{
  background-color: rgba(0, 0, 0, 0.6);
}
.book-dialog{
  background-color: var(--surface-color);
  color: var(--text-color-snow);
  border: none;
  border-radius: 24px;
  padding: var(--spacing-lg);
  width: 90%;
  max-width: 640px;
  position: relative;
}

.book-dialog-close-button{
  border: none;
  position: absolute;
  top: 16px;
  right: 16px;
  width: 28px;
  height: 28px;
  line-height: 1.8;
  border-radius: 50%;
  background-color: var(--background-color);
  color: var(--text-color-green);
  display: flex;
  justify-content: center;
}
.book-dialog-close-button:hover{
  background-color: var(--green-surface-color);
}