:root{
  /* Colors: */
  --background-color: #17191E;
  --surface-color: #24272B;
  --green-surface-color: #24372c;
  --text-color-snow: #FFFAFB;
  --text-color-green: #A3B99B;
  --accent-color: #D6A0A8;

  /* Spacings: */
  --spacing-sm: 8px;
  --spacing-md: 16px;
  --spacing-lg: 32px;

  /* Fonts: */
  --font-heading: "Lexend", serif;
  --font-body: "Lexend", sans-serif;
}